.buttonStart {
  background-color: #4caf50;
}
.buttonStop {
  background-color: #f44336;
}
.buttonReset {
  background-color: #ff9800;
}
.detailsButton {
  border-radius: 50%;
  rotate: 0;
  transition: rotate 0.5s ease;
  padding: 1px;
  width: 12px;
  height: 12px;
  height: fit-content;
}
.rotateDown {
  rotate: 180deg;
}
.controlButton {
  margin: 0;
  padding: 0.28vw;
  width: 3.9vw;
  font-size: 1.2vw;
}
